src/main/xsd/hrmanifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:element name="hrmanifest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="records">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="record" type="RecordType" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="submitterId" type="string40Type"
				use="required"></xs:attribute>
			<xs:attribute name="transactionId" type="string40Type"
				use="required"></xs:attribute>
			<xs:attribute name="reportDate" type="xs:dateTime" use="required"></xs:attribute>
			<xs:attribute name="recordCount" type="xs:int" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="RecordType">
		<xs:sequence>
			<xs:element name="affiliations">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="affiliation" type="AffiliationType"
							minOccurs="1" maxOccurs="1"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addresses">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" type="AddressType"
							minOccurs="0" maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="names">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="NameType" minOccurs="1"
							maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phones">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="phone" type="PhoneType" minOccurs="0"
							maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="emails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="email" type="EmailType" minOccurs="0"
							maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="kcExtendedAttributes" type="KCExtendedAttributesType"
				maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="degrees">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="degree" type="DegreeDataType"
							maxOccurs="1" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="appointments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="appointment" type="AppointmentDataType"
							maxOccurs="1" minOccurs="0"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="principalId" type="string40Type" use="required"></xs:attribute>
		<xs:attribute name="principalName" type="string40Type"
			use="required"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="AffiliationType">
		<xs:attribute name="affiliationType" type="string40Type"
			use="required"></xs:attribute>
		<xs:attribute name="campus" type="string2Type" use="required"></xs:attribute>
		<xs:attribute name="employeeStatus" type="string40Type"
			use="required"></xs:attribute>
		<xs:attribute name="employeeType" type="string40Type"
			use="required"></xs:attribute>
		<xs:attribute name="baseSalaryAmount" type="xs:float"
			use="required"></xs:attribute>
		<xs:attribute name="primaryDepartment" type="string40Type"
			use="required"></xs:attribute>
		<xs:attribute name="employeeId" type="string40Type" use="required"></xs:attribute>
		<xs:attribute name="primaryEmployment" type="xs:boolean"
			default="false"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean" default="true"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:attribute name="addressType" type="string40Type"></xs:attribute>
		<xs:attribute name="addressLine1" type="string45Type"></xs:attribute>
		<xs:attribute name="addressLine2" type="string45Type"></xs:attribute>
		<xs:attribute name="addressLine3" type="string45Type"></xs:attribute>
		<xs:attribute name="city" type="string30Type"></xs:attribute>
		<xs:attribute name="stateOrProvince" type="string2Type"></xs:attribute>
		<xs:attribute name="postalCode" type="string20Type"></xs:attribute>
		<xs:attribute name="country" type="string2Type"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="NameType">
		<xs:attribute name="nameCode" type="string40Type" use="required"></xs:attribute>
		<xs:attribute name="prefix" type="string20Type"></xs:attribute>
		<xs:attribute name="firstName" type="string40Type" use="required"></xs:attribute>
		<xs:attribute name="lastName" type="string80Type" use="required"></xs:attribute>
		<xs:attribute name="suffix" type="string20Type"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="PhoneType">
		<xs:attribute name="phoneType" type="string40Type"></xs:attribute>
		<xs:attribute name="phoneNumber" type="string20Type"></xs:attribute>
		<xs:attribute name="extension" type="string8Type"></xs:attribute>
		<xs:attribute name="country" type="string2Type"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="EmailType">
		<xs:attribute name="emailType" type="string40Type"></xs:attribute>
		<xs:attribute name="emailAddress" type="string200Type"></xs:attribute>
		<xs:attribute name="default" type="xs:boolean" default="false"></xs:attribute>
		<xs:attribute name="active" type="xs:boolean" default="false"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="KCExtendedAttributesType">
		<xs:attribute name="country" type="string30Type"></xs:attribute>
		<xs:attribute name="ageByFiscalYear" type="xs:int"></xs:attribute>
		<xs:attribute name="race" type="string30Type"></xs:attribute>
		<xs:attribute name="educationLevel" type="string30Type"></xs:attribute>
		<xs:attribute name="degree" type="string11Type"></xs:attribute>
		<xs:attribute name="major" type="string30Type"></xs:attribute>
		<xs:attribute name="handicapped" type="xs:boolean"></xs:attribute>
		<xs:attribute name="handicapType" type="string30Type"></xs:attribute>
		<xs:attribute name="veteran" type="xs:boolean"></xs:attribute>
		<xs:attribute name="veteranType" type="string30Type"></xs:attribute>
		<xs:attribute name="visa" type="xs:boolean"></xs:attribute>
		<xs:attribute name="visaType" type="string30Type"></xs:attribute>
		<xs:attribute name="visaCode" type="string20Type"></xs:attribute>
		<xs:attribute name="visaRenewalDate" type="xs:dateTime"></xs:attribute>
		<xs:attribute name="officeLocation" type="string30Type"></xs:attribute>
		<xs:attribute name="secondaryOfficeLocation" type="string30Type"></xs:attribute>
		<xs:attribute name="school" type="string50Type"></xs:attribute>
		<xs:attribute name="yearGraduated" type="string30Type"></xs:attribute>
		<xs:attribute name="directoryDepartment" type="string30Type"></xs:attribute>
		<xs:attribute name="vacationAccrual" type="xs:boolean"></xs:attribute>
		<xs:attribute name="onSabbatical" type="xs:boolean"></xs:attribute>
		<xs:attribute name="idProvided" type="string30Type"></xs:attribute>
		<xs:attribute name="idVerified" type="string30Type"></xs:attribute>
		<xs:attribute name="citizenshipType" type="xs:int"></xs:attribute>
		<xs:attribute name="multiCampusPrincipalId" type="string40Type"></xs:attribute>
		<xs:attribute name="multiCampusPrincipalName" type="string100Type"></xs:attribute>
		<xs:attribute name="salaryAnniversaryDate" type="xs:date"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="DegreeDataType">
		<xs:attribute name="degree" type="string80Type"></xs:attribute>
		<xs:attribute name="degreeType" type="string6Type"></xs:attribute>
		<xs:attribute name="graduationYear" type="string4Type"></xs:attribute>
		<xs:attribute name="fieldOfStudy" type="string80Type"></xs:attribute>
		<xs:attribute name="specialization" type="string80Type"></xs:attribute>
		<xs:attribute name="school" type="string50Type"></xs:attribute>
		<xs:attribute name="schoolId" type="string20Type"></xs:attribute>
		<xs:attribute name="schoolIdCode" type="string3Type"></xs:attribute>
	</xs:complexType>

	<xs:complexType name="AppointmentDataType">
		<xs:attribute name="unit" type="string8Type"></xs:attribute>
		<xs:attribute name="jobCode" type="string6Type"></xs:attribute>
		<xs:attribute name="appointmentType" type="string3Type"></xs:attribute>
		<xs:attribute name="salary" type="xs:float"></xs:attribute>
		<xs:attribute name="startDate" type="xs:date"></xs:attribute>
		<xs:attribute name="endDate" type="xs:date"></xs:attribute>
		<xs:attribute name="jobTitle" type="string50Type"></xs:attribute>
		<xs:attribute name="preferedJobTitle" type="string50Type"></xs:attribute>
	</xs:complexType>

	<xs:simpleType name="string2Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string3Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string4Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string6Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string8Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string11Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string20Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string30Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string40Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string45Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="45"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string50Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string80Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="string100Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="string200Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>